.container {
  display: grid;
  grid-template-columns: 5% 18% 63% 5%;
  grid-gap: 3%;
}

#header {
  grid-column-start: 2;
  grid-column-end : span 2;
  background-color: #F8CCCC;
  border : solid 16px;
  border-color: #862E2E;

}

#sidebar {
  grid-column-start: 2;
  background-color: #862E2E;
  margin-left: auto;
  border : solid 16px;
  border-color: #F8CCCC;
}

#maincontent {
  grid-column-start: 3;
  background-color: #862E2E;
  border : solid 16px;
  border-color: #F8CCCC;
}

#footer {
  grid-column-start: 2;
  grid-column-end : span 2;
  background-color: #F8CCCC;
  border : solid 16px;
  border-color: #862E2E;
}

/*Flexbox code and information comes from https://www.w3schools.com/css/css3_flexbox.asp and https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}