.container {
  display: grid;
  grid-template-columns: 5% 18% 63% 5%;
  grid-gap: 3%;
}

#header {
  grid-column-start: 2;
  grid-column-end : span 2;
  background-color: #F8CCCC;

}

#sidebar {
  grid-column-start: 2;
  background-color: #F8CCCC;
}
#maincontent {
  grid-column-start: 3;
  background-color: #F8CCCC;
}

#footer {
  grid-column-start: 2;
  grid-column-end : span 2;
  background-color: #F8CCCC;
}