.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.index-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90%;
}

.insta-img {
  display: block;
  float: right;
  width: 25%;
  margin-top: 16px;
  margin-right: 32px;
}

.facebook-img {
  display: block;
  float: left;
  width: 25%;
  margin-top: 16px;
  margin-left: 32px;
}

.shaun-img {
  float: right; 
  margin: 5px;
  width: 25%;
}

.johnny-img {
  float: left; 
  margin: 5px;
  width: 25%;
}

.email-img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 45%;
}

.classical-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90%;
}

.wedding-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90%;
}

.calendar-img {
  float: right; 
  margin: 16px;
  width: 30%;
}


