---
layout: layout.njk
---            
            <div id="maincontent">
                <p>
   Formed in 2008 and playing through many incarnations, Betterman has exisited in it's current form since 2014. Suitable for all events and settings
  </p>
            </div>
              <div id="sidebar">
              {% include "nav.njk" %}
              </div>