---
layout: layout.njk
eleventyNavigation:
  key: Contact
---         
<article id="maincontent">
  <h1>Get in touch</h1> 
    <section> 
    <p>To get a price for your event or function, or to check our availability please contact us through <a href = "mailto: bettermanbandirl@gmail.com">Email </a></p>
    </section>
</article>