---
layout: layout.njk
---            
            <div id="maincontent">
            <p>
            email/phone
            </p>
            </div>
              <div id="sidebar">
              {% include "nav.njk" %}
              </div>