<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betterman</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
  <img src="/images/logo.jpg" class="main-img">
  <div class="container">
    <div class="maincontent">
    <div class="primary">
    <h1> Gigsu </h1>
  <h3>
  <p>
   Catch us here:
   <ul>
   <li>08/03/2024 - Lyrath Estate KK</li>
  </h3>
  </div>
  </div>

  <div class="sidebar">
   <p>This should all be in the sidebar </p>
</div>
</div>
{% include "footer.njk" %}
 </body>
</html>