---
layout: layout.njk
---            
            <div id="maincontent">
                <p>
   08/03/2024 - Lyrath Estate kilkenny
  </p>
            </div>
              <div id="sidebar">
              {% include "nav.njk" %}
              </div>