---
layout: layout.njk
eleventyNavigation:
  key: Dates
---         
<article id="maincontent">
  <h1>Where to catch us</h1>
    <section> 
      <p>
        <ul class="calendar">
          <img src="/images/calendar.png" alt="Calendar Icon" class="calendar-img">
          <li>08/03/24 - Lyrath Estate Kilkenny</li>
          <li>16/03/24 - Lyrath Estate Kilkenny </li>
          <li>22/03/24 - Lyrath Estate Kilkenny</li>
          <li>23/03/24 - The Forge Tramore</li>
          <li>30/03/24 - Lyrath Estate Kilkenny</li>
          <li>06/04/24 - Lyrath Estate Kilkenny</li>
          <li>12/04/24 - Lyrath Estate Kilkenny</li>
          <li>13/04/24 - O'Neills Tramore</li>
          <li>20/04/24 - Lyrath Estate Kilkenny</li>
          <li>26/04/24 - Lyrath Estate Kilkenny</li>
          <li>27/04/24 - The Forge Tramore</li>
          <li>04/05/24 - Lyrath Estate Kilkenny</li>
          <li>10/05/24 - Lyrath Estate Kilkenny</li>
          <li>17/05/24 - Lyrath Estate Kilkenny</li>
          <li>25/05/24 - Lyrath Estate Kilkenny</li>
        </ul>
      </p>
    </section>
</article>
     