---
layout: layout.njk
eleventyNavigation:
  key: Equipment
---            
            <div id="maincontent">
           <h1> Equipment </h1>
              <p>
              <h2> Live </h2>
              Maui 28 g2 Blurb and image
              soundcraft blurbs and image
              mx5 blurb and image
              Guitars
              <h2> Solo</h2>
              guitar
              bose
              mice
              Recording
              Mics
              Interface
              Reaper
              </p>
            </div>
            