---
layout: layout.njk
---            
            <div id="maincontent">
           <h1> Equipment </h1>
            images with flex box
            </div>
              <div id="sidebar">
              {% include "nav.njk" %}
              </div>