---
layout: layout.njk
eleventyNavigation:
  key: Gallery
--- 
{# this code is from https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery and has been modified to fit this project #}
<article id="maincontent">
  <h1> Gallery </h1>
   <div class="row"> 
    <div class="column">
      <img src="/images/flex1.jpg" style="width:100%">
      <img src="/images/flex2.jpg" style="width:100%">
      <img src="/images/flex3.jpg" style="width:100%">
      <img src="/images/flex4.jpg" style="width:100%">
      <img src="/images/flex5.jpg" style="width:100%">
      <img src="/images/flex6.jpg" style="width:100%">
      <img src="/images/flex7.jpg" style="width:100%">
    </div>
  
    <div class="column">
      <img src="/images/flex8.jpg" style="width:100%">
      <img src="/images/flex9.jpg" style="width:100%">
      <img src="/images/flex10 .jpg" style="width:100%">
      <img src="/images/flex11.jpg" style="width:100%">
      <img src="/images/flex12.jpg" style="width:100%">
      <img src="/images/flex13.jpg" style="width:100%">
      <img src="/images/flex14.jpg" style="width:100%">
    </div> 
   
    <div class="column">
      <img src="/images/flex15.jpg" style="width:100%">
      <img src="/images/flex16.jpg" style="width:100%">
      <img src="/images/flex17.jpg" style="width:100%">
      <img src="/images/flex18.jpg" style="width:100%">
      <img src="/images/flex19.jpg" style="width:100%">
      <img src="/images/flex20.jpg" style="width:100%">
    </div>
  </div>
</article> 