<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betterman</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
  <img src="/images/logo.jpg" class="main-img">
<article>
  <p>
    Intro blurb </p>
  <p>
    Bio <a href="/bio.html">here</a> . </p>
  <h2>generic</h2>
  <p> New website this is a test</p>
   <p><a href="/index.html"> Home</a> <a href="/bio.html"> About</a> <a href="/contact.html"> Contact</a> <a href="/dates.html"> Where to see us</a> <a href="/equipment.html"> Gear</a></p> <a href="/gallery.html"> Gallery</a> <a href="/instrumental.html"> Instrumental</a> <a href="/setlist.html"> Setlist</a> <a href="/weddings.html"> Weddings</a>  
</article>
 </body>
</html>