---
layout: layout.njk
eleventyNavigation:
  key: Home
---         
<article id="maincontent">
  <h1>Welcome to Betterman</h1> 
  <img src="/images/indeximage.jpg" alt="Live Performance" class="index-img">
</article>