---
layout: layout.njk
eleventyNavigation:
  key: Instrumental
---          
<article id="maincontent">
  <h1>Solo Settings</h1>
    <section>
      <p>In addition to our standard two piece setup, Shaun also does solo performances on classical guitar. These kinds of performances are much more intimate in nature an add a wonderful levle of ambiance to any event. The setlsit for these events is a mixuture of standard classical guitar repertoire along with a host of carefully selected song arrangments.</p>
    </section>
</article>
             