---
layout: layout.njk
eleventyNavigation:
  key: Media
--- 
<article id="maincontent">
  <h1> Media </h1>
    <p>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/102883375&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/betterman-4" title="shaun" target="_blank" style="color: #cccccc; text-decoration: none;">shaun</a> · <a href="https://soundcloud.com/betterman-4/sets/betterman-duo" title="Betterman Duo" target="_blank" style="color: #cccccc; text-decoration: none;">Betterman Duo</a>
    </p>
    <p><iframe width="100%" height="315" src="https://www.youtube.com/embed/GYzzQ4LOxXA?si=Ow6VDDJ6HTFQGgU5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
    <p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/CR7fFkhXDZs?si=B4PnJ5lRZQ9mhR_P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </p>
</article>
           