<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betterman</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
  <img src="/images/logo.jpg" class="main-img">
  <div class="container">
    <div class="maincontent">
    <div class="primary">
    <h1> Media </h1>
  <h3>
  <p>
 <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/102883375&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/betterman-4" title="shaun" target="_blank" style="color: #cccccc; text-decoration: none;">shaun</a> · <a href="https://soundcloud.com/betterman-4/sets/betterman-duo" title="Betterman Duo" target="_blank" style="color: #cccccc; text-decoration: none;">Betterman Duo</a></div>
  </p>
  <p>
  	<iframe width="560" height="315" src="https://www.youtube.com/embed/_FYEh3UMW8k?si=DrAEJlPlOrm3KDHl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </p>
  </h3>
  </div>
  </div>

  <div class="sidebar">
   <p>This should all be in the sidebar </p>
</div>
</div>
{% include "footer.njk" %}
 </body>
</html>