---
layout: layout.njk
eleventyNavigation:
  key: Setlist
---            
<article id="maincontent">
  <h1>Setlist</h1>
    <section>Below is sample of a typical night at a Betterman show, this will change depending on the type of event you book us for but is representative of our style.
    </section> 
      <section>
        <p>
          <ul>
            <li>I am the Highway</li>
            <li>You’re All I Have </li>
            <li>Bad Moon Rising</li>
            <li>Yer So Bad</li>
            <li>Revolution</li>
            <li>Sweet Home Alabama</li>
            <li>Cheap Thrills</li>
            <li>High And Dry</li>
            <li>Free Fallin</li>
            <li>Breakfast at Tiffanys</li>
            <li>Save Tonight</li>
            <li>Riptide</li>
            <li>Fisherman’s Blues</li>
            <li>Candy</li>
            <li>Losing My Religion</li>
            <li>Proud Mary</li>
            <li>All I Want Is You</li>
            <li>Creep</li>
            <li>Burning Love</li>
            <li>Wonderwall</li>
            <li>Purple Rain</li>
            <li>Wagon Wheel</li>
            <li>Black Horse & The Cherry Tree</li>
            <li>Dancing In The Moonlight</li>
            <li>Times Like These</li>
            <li>Good Riddance</li>
            <li>Little Red Corvette</li>
            <li>Ooh La La</li>
            <li>Run</li>
            <li>Blue Suede Shoes</li>
            <li>All Shook Up</li>
            <li>Take It Easy</li>
            <li>Hotel California</li>
            <li>Don’t Look Back in Anger</li>
            <li>Roxanne</li>
            <li>Nothing Compares To You</li>
            <li>Hold My Girl</li>
            <li>Someone You Loved</li>
            <li>Brown Eyed Girl</li>
            <li>Redemption Song</li>
            <li>Knockin’ On Heavens Door</li>
            <li>Make You Feel My Love</li>
            <li>Take On Me</li>
            <li>Caledonia</li>
            <li>American Girl</li>
            <li>Learning To Fly</li>
            <li>Folsom Prison Blues</li>
          </ul>
        </p>
      </section>
</article>
            