---
layout: layout.njk
---            
            <div id="maincontent">
                 <p>
   Also available for ceremonies
  </p>
            </div>
              <div id="sidebar">
              {% include "nav.njk" %}
              </div>