---
layout: layout.njk
eleventyNavigation:
  key: Weddings
---            
<article id="maincontent">
  <h1>Weddings</h1>
    <img src="/images/wedding.jpg" alt="Wedding Ceremony" class="wedding-img">
      <section>
        <p>Weddings are one of the most important events in anyones life, and the repsonsibilty of performing at a wedding is one of the greatest honours that you can bestow upon a musician. We perform together during ceremonies, solo classical guitar, or a mixture of both. Along with this we can also create a bundle package just for you to include either your drinks reception that afternoon, or wedding night entertainment after the meal. For more than 100 guests we strongly recommend our enhanced package where we will bring along an additional vocalist/guitarist, and bass player sohuld the event require it. For above 150 guests we will only perform as a 5 piece group including drummer for evening music.
        </p>
      </section>
</article>
           