<footer id="footer">
  <p><a href="index.njk"> Home</a> <a href="bio.njk"> About</a> <a href="contact.njk"> Contact</a> <a href="dates.njk"> Where to see us</a> <a href="equipment.njk"> Gear</a></p> <a href="gallery.html"> Gallery</a>
</footer>