<footer id="footer">
  <p><a href="index.html"> Home</a> <a href="bio.html"> About</a> <a href="contact.html"> Contact</a> <a href="dates.html"> Where to see us</a> <a href="equipment.html"> Gear</a></p> <a href="gallery.html"> Gallery</a> <a href="instrumental.html"> Instrumental</a> <a href="setlist.html"> Setlist</a> <a href="weddings.html"> Weddings</a>  
</footer>