<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Betterman</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
    <body>
        <div class="container">
        {% include "header.njk" %}
        <div id="sidebar">
              {% include "nav.njk" %}
              </div>

           {{ content | safe }}
              
          {% include "footer.njk" %}
        </div>
    </body>
</html>