<nav id="navigation">
                  <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/bio/">About</a></li>
                    <li><a href="/dates/">Dates</a></li>
                    <li><a href="/media/">Media</a></li>
                    <li><a href="/gallery/">Gallery</a></li>
                    <li><a href="/equipment/">Equipment</a></li>
                    <li><a href="/setlist/">Setlist</a></li>
                    <li><a href="/instrumental/">Instrumental</a></li>
                    <li><a href="/weddings/">Weddings</a></li>
                    <li><a href="/contact/">Contact</a></li>
                  </ul>
                </nav>