<nav id="navigation">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul id="menu">
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} class="active" {% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
  <a href="https://www.instagram.com/bettermanband"><img src="/images/insta.png" alt="Instagram logo" class="insta-img"></a>
  <a href="https://www.facebook.com/bettermanwaterford/"><img src="/images/facebook.png" alt="Facebook logo" class="facebook-img"></a>
</nav>